.aboutContainer{
  background-color: var(--zlunar);
  min-height: 100vh;
  min-width: 100vw;
}

.navbarAbout{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--zbackground);
  position: fixed;
  z-index: 1000;
  box-sizing: 0;
  right: 0;
  padding-right: 50px;
  margin: 0;
  height: 10vh;
}


.aboutDetails{
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  background-color: var(--zbackground);
  padding-bottom: 25px;
  padding-top: 15vh;
}

#aboutImageContainer{
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#aboutHeroImage{
height: 30vh;
width: 30vh;
min-height: 240px;
min-width: 240px;
  background-color: blue;
  background-image: url('../../hero-assets/fernando-headhsot.jpg');
  background-position: top center;
  background-size: cover;
  // border-radius: 50%;
  box-shadow: 5px 5px var(--zgold), -5px -5px var(--zred);
  margin-bottom: 25px;
}


.aboutText{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: 'akzidenz-grotesk-roman', Arial, Helvetica, sans-serif;
  padding-left: 5vw;
  padding-right: 5vw;
  color: white;
}

// #aboutImageContainer:before{
//   content: "";
//   display: inline-block;
//   vertical-align: middle;
//   // padding-top: 100%;
//   height: 0;
// }

.aboutTextContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aboutHeroName{
  font-family: 'Druk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 38px;
  // -webkit-text-stroke: 1.5px var(--zbackground);
letter-spacing: .05em;
  text-align: center;
  vertical-align: bottom;
  font-family: 'Druk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: var(--zred);
  margin-bottom: 25px;
  transform-style: preserve-3d;
  word-break: break-word;
}

#aboutHeroName:hover, #aboutHeroName:focus{
  -webkit-text-stroke: 1.5px var(--zred);
  color: transparent;
  perspective-origin: center right;
  transform: rotateX(-10deg) rotateY(10deg);
}

#techSkills{
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-top: -10vh;
  padding: 0;
  margin: 0;
}

.langContainer{
  width: 100%;
  margin: 0;
  padding: 0
}


.aboutStrengths{
  width: 100%;
  height: 375px;
  background-color: var(--zgold);
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
}

#skillsCarousel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--zlunar);
  padding-bottom: 25px;
}

.carouselItem{
  height: 375px;
  width: 100%;
  background-color: var(--zlunar);
}

.carouselCaption{
  margin-top: 60px;
  margin-bottom: 15px;
  color: var(--zbackground);
  font-family: 'Druk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  vertical-align: top;
}

.carouselList-item{
  list-style: none;
  color: var(--zbackground);
  font-family: 'akzidenz-grotesk-light', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.strengthsHeader{
  margin-top: 60px;
  margin-bottom: 15px;
  color: var(--zlunar);
  font-family: 'Druk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  vertical-align: top;
}

#skillsTree-About{
  padding-left: 25px;
  padding-right: 25px;
}

//FOOTER
.aboutFooter{
  background-color: var(--zbackground);
  display: flex;
  flex-direction: column;
  color: var(--zlunar) 
}

.aboutSocial{
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 14px;
  font-family: 'akzidenz-grotesk-roman', Arial, Helvetica, sans-serif;
  text-transform: lowercase;
}

.aboutFooter-social{
  color: var(--zlunar)
}

.aboutFooterLogo{
  margin-left:0
}

.copyright-about{
  color: var(--zlunar);
  font-size: 12px;
  font-family: 'akzidenz-grotesk-roman', Arial, Helvetica, sans-serif;
}

.socialContainerabout:hover, .socialContainerabout:focus{
  background-color: var(--zbackground);
}

@media screen and (max-width: 650px) {
  .aboutSocial{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .aboutFooter-social{
    color: var(--zlunar)
  }

  .aboutFooterLogo{
    margin-left:0
  }
}

#experience h2{
  margin-top: 50px;
  color: var(--zlunar)
}

#experience{
  background-color: var(--zbackground);
}

#experience ul{
  color: var(--zlunar);
  margin-top: 25px;
  margin-bottom: 25px;
}

#experience li{
  list-style: none;
  line-height: 2em;
  font-size: 18px;
  font-family: 'akzidenz-grotesk-roman', Arial, Helvetica, sans-serif;
}

#cv{
  background-color: var(--zgold);
  padding: 10px 25px 10px 25px;
  border-style: none;
  border-radius: 7px;
  font-family: 'akzidenz-grotesk-light', Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 60px;
}

#cv a{
  color: var(--zlunar)
}

#cv:hover, #cv:focus{
  background-color: var(--zmaroon);
}

#cv:active{
  background-color: var(--zred);
}