#hamburgerContainer{
  height: 300px;
  width: 300px;
  background-color: transparent;
}

#hamburger{
  height: 10vh;
  width: 100vw;
  margin-right: 25px;
  margin-left: 25px;
  padding-right: 60px;
  border-style: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
  z-index: 1000;
}

#hamburgerMenu{
  margin-top: 75px;
}

.bm-burger-button {
  position: fixed;
  height: 20px;
  width: 45px;
  max-width: 60px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--zlunar);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover, .bm-burger-bars-focus{
  background: var(--zred);
}

