.navbarContact{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--zbackground);
  position: fixed;
  z-index: 1000;
  box-sizing: 0;
  right: 0;
  padding-right: 50px;
  margin: 0;
  height: 10vh;
}

.contactContainer{
    background-color: var(--zbackground);
    min-height: 100vh;
    min-width: 100vw;
}

.contactName{
  font-family: 'Druk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: .05em;
  text-align: center;
  vertical-align: bottom;
  font-family: 'druk-wide-heavy', Arial, Helvetica, sans-serif;  
  text-transform: uppercase;
  z-index: 999;
  margin-top: -10vh;
  color: var(--zgold);
}

#contactFormContainer h3{
  margin-top: 50px;
  font-family: 'druk-wide-heavy', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 26px;
}

#contactFormContainer p{
  font-family: 'akzidenz-grotesk-light', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.topBoxContact{
  height: 30px;
  background-color: var(--zbackground);
  width: 100vw;
  padding-top: 25vh;
  margin: 0
}

#contactFormContainer{

  padding-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--zlunar);
  background-color: var(--zbackground);
  margin-top: -15px;
  z-index: 1000;
}

#contactForm{
  margin-top: 60px;
  width: 80%;
  max-width: 600px;
  text-align: left;
  background-color: var(--zlunar);
padding-top: 25px;
padding-bottom: 25px;
padding-left: 5vw;
padding-right: 5vw;
border-radius: 7px;
}

.formPhone{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#phoneBox{
  padding-left: 10px;
  padding-right: 10px
}

#formLargeField{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px
}

.formBox{
  width: 100%;
  border-radius: 4px;
  border-style: none;
  min-height: 50px;
  font-family: 'akzidenz-grotesk-light', Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: white;
}

.formLabel{
  margin-bottom: 10px;
  font-family: 'Druk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: var(--zgold);
}

#checkboxContainer{
  display: flex;
  flex-direction: row;
}

.consentLabel{
  color: var(--zbackground);
  font-family: 'akzidenz-grotesk-light', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.contactSubmit{
  width: 150px;
  background-color: var(--zgold);
  border-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'akzidenz-grotesk-light', Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

@media screen and (max-width: 300px) {
  .contactName{
    font-size: 32px;
  }

  #contactFormContainer h3{
    font-size: 22px;
  }
}

.socialLink-out{
  color: var(--zlunar);
  font-family: 'akzidenz-grotesk-light', Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: underline;
}

.socialLink-out:hover, .socialLink-out:focus{
  color: var(--zred);
}

.socialLink-out:active{
  color: var(--zmaroon);
}