.navbarPortfolio{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--zgold);
  position: fixed;
  z-index: 1000;
  box-sizing: 0;
  right: 0;
  height: 10vh;
}

.portfolioContainer{
  background-color: var(--zlunar);
}

.portfolioMain{
  text-align: left;
  padding-top: 11vh;
  color: white;
  background-color: var(--zgold);
  height: 300px;
  clip-path: polygon(0 0%, 100% 0, 100% 88%, 0% 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.portfolioHeroContainer{
  width: 100vw;
  height: 38vh;
}

.topBox{
  height: 30px;
  background-color: var(--zgold);
  width: 100vw;
  padding-top: 20vh;
  // margin-top: 150px
}


.titleContainer{
  // margin-top: 25px;
  // width: 100vw;
  // height: 100%;
  // z-index: 1000;
  // margin-top: 30vh
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.projectName{
  font-family: 'Druk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 10vh;
  -webkit-text-stroke: 1.5px var(--zlunar);
letter-spacing: .05em;
  text-align: right;
  vertical-align: bottom;
  font-family: 'Druk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-left: 2.5vw;
  padding-right: 7vw;
  z-index: 999;
  margin-top: -73vh;
  color: transparent
}

.heroImageContainer{
  width: 110vw;
  height: 60vh;
  background-image: url('../../hero-assets/myflix-ng-main-2.png');
  box-shadow: -5vh 5vh 5vh var(--zbackground) inset, 
  // -50px -50px 110px #defeec inset;

}

.projectDetails{
  display: flex;
  padding-top: 10vh;
  padding-bottom: 10vh;
  align-items: center;
}

.projectDescription{
  font-family: 'akzidenz-grotesk-light', Arial, Helvetica, sans-serif;
  padding-left: 7vw;
  margin-right: 7vw;
  font-size: 15px;
  line-height: 1.5em;
}

h2{
  font-family: 'Druk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.projectImageTwo{
  // margin-right: 100px;
  width: 40%;
  box-shadow: 5px 5px var(--zgold), -5px -5px var(--zred);
  border: 2px;
  border-style: solid;
  border-color: var(--zbackground);
}

.projectLinks{
  background-color: var(--zlunar);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10vh;
}

.projectLinkContainer{
  display: flex;
  flex-direction: row;
}

.linksTitle{
  margin-top: 10vh;
  padding-bottom: 25px;
  font-family: 'Druk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.projectLink-item{
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'akzidenz-grotesk-light', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--zlunar);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--zgold);
  text-transform: uppercase;
  letter-spacing: .1em;
  border-radius: 4px;
  border-style: none;
  margin-left: 25px;
  margin-right: 25px;
  vertical-align: middle;
}

.projectLink-item:hover, .projectLink-item:focus{
  background-color: var(--zmaroon);
  cursor: pointer;
}

.projectLink-item:active{
  background-color: var(--zred);
  color: var(--zbackground);
}

.linkDescription{
  color: var(--zbackground);
  font-family: 'akzidenz-grotesk-light', Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 25px;
}


.projectChart{
  width: 250px;
  height: 250px;
}

.descriptionContainer{
  display: flex;
  flex-direction: row;
  margin-top: 45vh;
  background-color: var(--zlunar);
}


.aboutDetails{
  text-align: left;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  color: var(--zbackground);
}

.description{
  font-family: 'akzidenz-grotesk-light', Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5em;
}

.languagesContainer{
  height: 100%;
  background-color: var(--zbackground);
  margin-top: -50px;
  padding-right: 10vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.languages{
  width: 100%;
  text-align: right;
  margin-bottom: 50px;
  color: var(--zlunar)
  
}

.technologiesContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.technologies{
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  color: var(--zlunar)
}

h4{
  font-family: 'Druk', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: var(--zlunar)
}

.technologiesTitle{
  color: var(--zlunar);
  text-align: center;
}

.techUsed{
  color: var(--zlunar);
}

.technologiesList{
  color: var(--zlunar);
  font-family: 'akzidenz-grotesk-roman', Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  text-align: left;
  padding-left: 0
}

.pieChart{
  margin-right: 10vw;
}

.projectSocial{
  display: flex;
  flex-direction: row;
}

.projectFooter{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}